*{
    box-sizing: border-box;
}
body {
    /* background-image: url('https://t4.ftcdn.net/jpg/02/80/48/21/360_F_280482114_NUxshs6Br7d1f5FripqBqsYXrKSC21aG.jpg'); */
    background-color: rgb(25, 24, 24);
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}

h1, h2 {
    color: aqua;
}

button {
    background-color: gray;
}

button:hover {
    background-color: rgb(27, 26, 26);
    color: aqua;
    transition: 300ms;
}