.section {
    display: grid;
    grid-template-columns: min-content;
}

.container {
    padding: 10px;
    overflow: auto;
    margin-bottom: 10px;
}

.row {
    display: grid;
    justify-content: center;
    color: lightgray;
}

.title {
    color: lightgray;
}

.poster {
    height: 20vh;
}

.detailbtn {
    height: 4vh;
    width: 20vw;
    color: aqua;
}

.detailbtn:hover {
   background-color: lightcyan;
   color: cadetblue;
   border: 1px aqua solid;
   transition: 500ms;
}

Link {
    width: 20vw;
}