.section {
    display: grid;
    grid-template-columns: 15fr 15fr 15fr;
    grid-gap: 10px;
    height: 100%;
}

.container {
    padding: 10px;
}

.row {
    display: grid;
    justify-content: center;
    color: lightgray;
}

.title {
    color: lightgray;
    height: 40px;
}

.poster {
    height: 20vh;
    max-width: 15vw;
}

.poster:hover {
    padding-top: 10px;
    border: whitesmoke 5px solid;
    transition: 300ms;
}

Link {
    width: 20vw;
}