.detailPage {
    display: grid;
    grid-template-columns: 10fr 5fr;
    border: 5px solid lightgray;
    border-radius: 20px;
    height: 25vh;
    width: 70vw;
    margin: auto;
}

.detailTitle {
    color: White;
}

.detailPlot {
    padding: 0 50px 0 50px ;
    color: azure;
}

.detail {
    color: white;
}

.detailPoster {
    margin: 15px;
    height: 20vh;
}