.detailPage {
    display: grid;
    grid-template-columns: 10fr 5fr;
    border: 5px solid lightgray;
    border-radius: 20px;
    height: 25vh;
    margin: auto;
}

.detailTitle {
    color: White;
}

.detailPlot {
    padding: 0 50px 0 50px ;
    color: azure;
}

.detail {
    color: white;
}

.detailPoster {
    margin: 15px;
    height: 20vh;
}

.watchListBtn {
    font-size: 15px;
    
}

.watchedListBtn {
    font-size: 15px;
}

.commentBtnForm {
    display: flex;
    margin: auto;
    font-size: 15px;
}