.commentForm {
    display: block;
}

.Commentbox {
    height: 50px;
    width: 20vw;
}
.rating {
    margin-top: 10px;
    width: 50px;
}

.ratingLabel {
    display: flex;
    justify-content: center;
}

.commentbtn {
    display: flex;
    margin: auto;
    margin-top: 10px;
    font-size: 15px;
}