
.commentUser{
    grid-row: inherit;
}

.userName {
    padding-left: 10px;
    color: aqua;
}

.commentRating {
    grid-column: 2;
}

.commentDate {
    grid-row: 3;
    grid-column: 2;
}

.editComment{
    /* grid-row: 2; */
    width: 80px;
    font-size: 15px;

}

.deleteComment {
    width: 80px;
    font-size: 15px;

}

.userComment {
    padding: 0px 30px 0px 30px;
}

.comment {
    border: 3px solid lightgray;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}

.commentMap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: auto;
    max-width: 50vw;
}

.noComment {
    color: lightgray;
}